@import "../../app.scss";

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  padding: 100px 15%;
  background: #0c0c1d;
  color: white;
  min-height: 100vh; 

  @include mobile {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px 25px;
  }

  .about-content {
    max-width: 700px;
    flex: 1;

    h1 {
      font-size: 3rem; 
      color: #ff9800;
      margin-bottom: 30px;

      @include mobile {
        font-size: 2rem;
        text-align: center;
      }
    }

    p {
      font-size: 1.1rem;
      line-height: 1.8;
      margin-bottom: 20px;
      color: #ccc;
      text-align: justify;

      @include mobile {
        font-size: 16.5px;  
        // hyphens: auto;
        margin-bottom: 10px;
        text-align: justify;
        word-spacing: -2px; 
      }

      span {
        color: #ff9800;
        font-weight: bold;
        
        @include mobile {
       font-weight:normal;
        }
      }

      strong {
        color: cyan;

        @include mobile {
          font-weight: lighter;
        }
      }
    }
  }

  .about-image {
    max-width: 400px; // Bigger image container
    flex: 1; // Allow image to expand

    img {
      width: 100%;
      border-radius: 20px;
      box-shadow: 0px 6px 20px rgba(0, 255, 255, 0.4);
      @include mobile {
        height: 170px;
        flex-direction: column;
        margin-bottom: 10px;
      }
    }
  }

}
